/* src/components/ContactForm/ContactForm.module.css */

.formulario {
  padding: 5rem 4%;
  background-color: var(--color-background);
}

.titulo {
  font-size: 2.5rem;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  max-width: 500px;
  margin: 2.5rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/* Adicionado para os labels */
.inputGroup {
  width: 100%;
}

.form input,
.form textarea {
  width: 100%;
  padding: 1.25rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.9375rem;
  outline: none;
  background-color: var(--color-input-bg, var(--color-secondary));
  color: var(--color-text);
  transition: border-color 0.3s, box-shadow 0.3s;

  &:hover {
    border-color: var(--color-primary);
  }
}

.form input:focus,
.form textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);

  &:hover {
    border-color: var(--color-primary);
  }
}

.form textarea {
  resize: none;
  height: 150px; /* Melhor usar height fixo em vez de max-height */
}

/* Classe para esconder labels visualmente, mas mantê-los para leitores de tela */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Estilos para o novo <button> */
.submitButton {
  width: 7.5rem;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  margin-top: 1.25rem;
  align-self: center; /* Centraliza o botão */
}

.submitButton:hover {
  background-color: var(--color-primary-dark);
  transform: scale(1.05);
}

.submitButton:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px var(--color-primary) inset;
}